body {
    overflow-x: hidden;
    min-height: 100vh;
}

.snowflake {
    position: absolute;
    z-index: 10000;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white); /* Workaround for Chromium's selective color inversion */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}