@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

body {
    background-image: url('https://redwars22.github.io/andrewnation/assets/fictoflag.jpg');
    background-position: top;
    font-family: 'DM Mono', monospace;
}

.nav-link {
    display: flex;
    gap: 15px !important;
}

.card-img-top {
    width: 150px !important;
    height: 150px !important;
    align-self: center;
}

.centered {
    text-align: center;
}